<div class="div" [formGroup]="bomGroup">
  <mat-form-field>
    <input matInput placeholder="名称" formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="型号" formControlName="marking">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="封装" formControlName="footprint">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="值" formControlName="value">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="耐压" formControlName="volt">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="精度" formControlName="precision">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="数量" formControlName="quantity">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="描述" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="标签" formControlName="tag">
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="标签" formControlName="manufacturer">
    </mat-form-field>
</div>